{
  "openapi": "3.0.3",
  "info": {
    "termsOfService": "https://platform.stability.ai/docs/terms-of-service",
    "description": "Welcome to the Stability.ai REST API!\n\nYour DreamStudio API key will be required for authentication: [How to find your API key](https://platform.stability.ai/docs/getting-started/authentication)\n\nAPI operations use the following versioning scheme:\n- `/v*` interface is stable and ready for production workloads\n- `/v*beta*`: interface is stable, preparing for production release\n- `/v*alpha*`: under development and the interface is subject to change\n\nNOTE: The v1alpha and v1beta endpoints from the developer preview are still available, but they\nwill disabled on May 1st, 2023.  Please migrate to the v1 endpoints as soon as possible.\n\nIf you have feedback or encounter any issues with the API, please reach out:\n  - [https://github.com/Stability-AI/REST-API](https://github.com/Stability-AI/REST-API)\n  - [https://discord.gg/stablediffusion #API channel](https://discord.com/channels/1002292111942635562/1042896447311454361)\n\n\nThis generated SDK also includes the official REST v2beta Stable Image API from https://api.stability.ai/v2alpha/openapi.",
    "title": "Stability.ai REST API",
    "version": "v1+v2beta",
    "x-logo": {
      "altText": "Stability.ai REST API",
      "url": "/docs/StabilityLogo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.stability.ai"
    }
  ],
  "tags": [
    {
      "name": "v1/user",
      "description": "Manage your Stability.ai account, and view account/organization balances"
    },
    {
      "name": "v1/engines",
      "description": "Enumerate available engines"
    },
    {
      "name": "v1/generation",
      "description": "Generate images from text, existing images, or both"
    },
    {
      "name": "Edit",
      "description": "Tools for editing your own and generated images.\n\n**[Erase](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1erase/post)**\n\nThe Erase service removes unwanted objects, such as blemishes on portraits or items on desks, using image masks.\n\n**[Outpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1outpaint/post)**\n\nThe outpaint service inserts additional content in an image to fill in the space in any direction, allowing you to \"zoom-out\" of an image.\n\n**[Inpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1inpaint/post)**\n\nThe Inpaint service modifies images by filling in or replacing specified areas with new content based on the content of a \"mask\" image.\n\n**[Search and Replace](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-replace/post)**\n\nThe Search and Replace service, similar to inpaint, allows to replace specified areas with new content, but this time with the help of a prompt instead of a mask. The service will automatically segment the object and replace it with the object requested in the prompt.\n\n**[Search and Recolor](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-recolor/post)**\n\nThe Search and Recolor service is another derivative of the inpaint service and provides the ability to change the color of a specific object in an image using a prompt. The Search and Recolor service will automatically segment the object and recolor it using the colors requested in the prompt.\n\n**[Remove Background](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1remove-background/post)**\n\nThe Remove Background service accurately segments the foreground from an image to removes the background."
    },
    {
      "name": "Upscale",
      "description": "Tools for increasing the size and resolution of your existing images.\n\n**[Fast Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1fast/post)**\n\nThis service enhances image resolution by 4x using predictive and generative AI. This lightweight and fast service (processing in ~1 second) is ideal for enhancing the quality of compressed images, making it suitable for social media posts and other applications.\n\n**[Conservative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1conservative/post)**\n\nThis service can upscale images by 20 to 40 times up to a 4 megapixel output image with minimal alteration to the original image. The Conservative Upscaler can upscale images as small as 64x64 pixels directly to a 4 megapixel output. Use this option if you directly need a 4 megapixel output.\n\n**[Creative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1creative/post)**\n\nThe service can upscale highly degraded images (lower than 1 megapixel) with a creative twist to provide high resolution results."
    },
    {
      "name": "Generate",
      "description": "Tools to generate new images from text, or create variations of existing images. Our different services include:\n\n**[Stable Image Ultra](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1ultra/post)**: Photorealistic, Large-Scale Output\n\nOur state of the art text to image model based on Stable Diffusion 3.5. Stable Image Ultra Produces the highest quality, photorealistic outputs perfect for professional print media and large format applications. Stable Image Ultra excels at rendering exceptional detail and realism.\n\n**[Stable Image Core](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1core/post)**: Fast and Affordable\n\nOptimized for fast and aﬀordable image generation, great for rapidly iterating on concepts during ideation. Stable Image Core is the next generation model following Stable Diffusion XL.\n\n**[Stable Diffusion 3.5 Model Suite](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1sd3/post)**: Stability AI's latest base models\n\nThe different versions of our open models are available via API, letting you test and adjust speed and quality based on your use case. All model versions strike a balance between generation speed and output quality and are ideal for creating high-volume, high-quality digital assets like websites, newsletters, and marketing materials."
    },
    {
      "name": "Control",
      "description": "Tools for generating precise, controlled variations of existing images or sketches.\n\n**[Sketch](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1sketch/post)**\n\nThis service upgrades sketches to refined outputs with precise control. For non-sketch images, it allows detailed manipulation of the final appearance by leveraging the contour lines and edges within the image.\n\n**[Structure](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1structure/post)**\n\nThis service excels in generating images by maintaining the structure of an input image, making it especially valuable for advanced content creation scenarios such as recreating scenes or rendering characters from models.\n\n**[Style](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1style/post)**\n\nThis service extracts stylistic elements from an input image (control image) and uses it to guide the creation of an output image based on the prompt. The result is a new image in the same style as the control image."
    },
    {
      "name": "Results",
      "description": "Tools for fetching the results of your async generations."
    },
    {
      "name": "Stable Audio 2",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 2.5**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 3-minute, 44.1 kHz stereo compositions. Stable Audio 2.5 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\n**Stable Audio 2.0**: High-Quality Audio Generation\n\nBuilt for text-to-audio and audio-to-audio generation, also capable of generating up to 3-minute, 44.1 kHz stereo. Stable Audio 2.0 is great for ideation, music demos, and ambient soundscapes. It's optimized for creative professionals seeking detailed and extended outputs from simple prompts.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 2.5 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-2-0).",
      "x-displayName": "Stable Audio 2.5"
    },
    {
      "name": "Stable Audio",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 3.0**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 6-minute, 44.1 kHz stereo compositions. Stable Audio 3.0 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 3.0 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-3-0).",
      "x-displayName": "Stable Audio 3.0"
    }
  ],
  "paths": {
    "/v1/generation/{engine_id}/text-to-image": {
      "post": {
        "description": "Generate a new image from a text prompt",
        "operationId": "textToImage",
        "summary": "text-to-image",
        "tags": [
          "v1/generation"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/engineID"
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "cfg_scale": 7,
                "clip_guidance_preset": "FAST_BLUE",
                "height": 512,
                "width": 512,
                "sampler": "K_DPM_2_ANCESTRAL",
                "samples": 1,
                "steps": 75,
                "text_prompts": [
                  {
                    "text": "A lighthouse on a cliff",
                    "weight": 1
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The result of the generation request, containing one or more images as base64 encoded strings.",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  },
                  "type": "array"
                }
              },
              "image/png": {
                "example": "PNG bytes, what did you expect?",
                "schema": {
                  "description": "The bytes of the generated image",
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Finish-Reason": {
                "$ref": "#/components/headers/Finish-Reason"
              },
              "Seed": {
                "$ref": "#/components/headers/Seed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400FromGeneration"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import base64\nimport os\nimport requests\n\nengine_id = \"stable-diffusion-v1-5\"\napi_host = os.getenv('API_HOST', 'https://api.stability.ai')\napi_key = os.getenv(\"STABILITY_API_KEY\")\n\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.post(\n    f\"{api_host}/v1/generation/{engine_id}/text-to-image\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n        \"Authorization\": f\"Bearer {api_key}\"\n    },\n    json={\n        \"text_prompts\": [\n            {\n                \"text\": \"A lighthouse on a cliff\"\n            }\n        ],\n        \"cfg_scale\": 7,\n        \"clip_guidance_preset\": \"FAST_BLUE\",\n        \"height\": 512,\n        \"width\": 512,\n        \"samples\": 1,\n        \"steps\": 30,\n    },\n)\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\ndata = response.json()\n\nfor i, image in enumerate(data[\"artifacts\"]):\n    with open(f\"./out/v1_txt2img_{i}.png\", \"wb\") as f:\n        f.write(base64.b64decode(image[\"base64\"]))\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\nimport fs from 'node:fs'\n\nconst engineId = 'stable-diffusion-v1-5'\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst apiKey = process.env.STABILITY_API_KEY\n\nif (!apiKey) throw new Error('Missing Stability API key.')\n\nconst response = await fetch(\n  `${apiHost}/v1/generation/${engineId}/text-to-image`,\n  {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json',\n      Authorization: `Bearer ${apiKey}`,\n    },\n    body: JSON.stringify({\n      text_prompts: [\n        {\n          text: 'A lighthouse on a cliff',\n        },\n      ],\n      cfg_scale: 7,\n      clip_guidance_preset: 'FAST_BLUE',\n      height: 512,\n      width: 512,\n      samples: 1,\n      steps: 30,\n    }),\n  }\n)\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface GenerationResponse {\n  artifacts: Array<{\n    base64: string\n    seed: number\n    finishReason: string\n  }>\n}\n\nconst responseJSON = (await response.json()) as GenerationResponse\n\nresponseJSON.artifacts.forEach((image, index) => {\n  fs.writeFileSync(\n    `./out/v1_txt2img_${index}.png`,\n    Buffer.from(image.base64, 'base64')\n  )\n})\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n\t\"os\"\n)\n\ntype TextToImageImage struct {\n\tBase64       string `json:\"base64\"`\n\tSeed         uint32 `json:\"seed\"`\n\tFinishReason string `json:\"finishReason\"`\n}\n\ntype TextToImageResponse struct {\n\tImages []TextToImageImage `json:\"artifacts\"`\n}\n\nfunc main() {\n\t// Build REST endpoint URL w/ specified engine\n\tengineId := \"stable-diffusion-v1-5\"\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/generation/\" + engineId + \"/text-to-image\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\tvar data = []byte(`{\n\t\t\"text_prompts\": [\n\t\t  {\n\t\t\t\"text\": \"A lighthouse on a cliff\"\n\t\t  }\n\t\t],\n\t\t\"cfg_scale\": 7,\n\t\t\"clip_guidance_preset\": \"FAST_BLUE\",\n\t\t\"height\": 512,\n\t\t\"width\": 512,\n\t\t\"samples\": 1,\n\t\t\"steps\": 30\n  \t}`)\n\n\treq, _ := http.NewRequest(\"POST\", reqUrl, bytes.NewBuffer(data))\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\n\t// Execute the request & read all the bytes of the body\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\n\tif res.StatusCode != 200 {\n\t\tvar body map[string]interface{}\n\t\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t\tpanic(fmt.Sprintf(\"Non-200 response: %s\", body))\n\t}\n\n\t// Decode the JSON body\n\tvar body TextToImageResponse\n\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\tpanic(err)\n\t}\n\n\t// Write the images to disk\n\tfor i, image := range body.Images {\n\t\toutFile := fmt.Sprintf(\"./out/v1_txt2img_%d.png\", i)\n\t\tfile, err := os.Create(outFile)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\timageBytes, err := base64.StdEncoding.DecodeString(image.Base64)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif _, err := file.Write(imageBytes); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif err := file.Close(); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t}\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\nOUTPUT_FILE=./out/v1_txt2img.png\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/generation/stable-diffusion-v1-5/text-to-image\"\n\ncurl -f -sS -X POST \"$URL\" \\\n  -H 'Content-Type: application/json' \\\n  -H 'Accept: image/png' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\" \\\n  --data-raw '{\n    \"text_prompts\": [\n      {\n        \"text\": \"A lighthouse on a cliff\"\n      }\n    ],\n    \"cfg_scale\": 7,\n    \"clip_guidance_preset\": \"FAST_BLUE\",\n    \"height\": 512,\n    \"width\": 512,\n    \"samples\": 1,\n    \"steps\": 30\n  }' \\\n  -o \"$OUTPUT_FILE\"\n"
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image": {
      "post": {
        "description": "Modify an image based on a text prompt",
        "operationId": "imageToImage",
        "summary": "image-to-image",
        "tags": [
          "v1/generation"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/engineID"
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequestBody"
              },
              "examples": {
                "IMAGE_STRENGTH": {
                  "summary": "Using IMAGE_STRENGTH",
                  "description": "Request using 35% image_strength",
                  "value": {
                    "image_strength": 0.35,
                    "init_image_mode": "IMAGE_STRENGTH",
                    "init_image": "<image binary>",
                    "text_prompts[0][text]": "A dog space commander",
                    "text_prompts[0][weight]": 1,
                    "cfg_scale": 7,
                    "clip_guidance_preset": "FAST_BLUE",
                    "sampler": "K_DPM_2_ANCESTRAL",
                    "samples": 3,
                    "steps": 20
                  }
                },
                "STEP_SCHEDULE": {
                  "summary": "Using STEP_SCHEDULE",
                  "description": "Equivalent request using step_schedule_start",
                  "value": {
                    "step_schedule_start": 0.65,
                    "init_image_mode": "STEP_SCHEDULE",
                    "init_image": "<image binary>",
                    "text_prompts[0][text]": "A dog space commander",
                    "text_prompts[0][weight]": 1,
                    "cfg_scale": 7,
                    "clip_guidance_preset": "FAST_BLUE",
                    "sampler": "K_DPM_2_ANCESTRAL",
                    "samples": 3,
                    "steps": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The result of the generation request, containing one or more images as base64 encoded strings.",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  },
                  "type": "array"
                }
              },
              "image/png": {
                "example": "PNG bytes, what did you expect?",
                "schema": {
                  "description": "The bytes of the generated image",
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Finish-Reason": {
                "$ref": "#/components/headers/Finish-Reason"
              },
              "Seed": {
                "$ref": "#/components/headers/Seed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400FromGeneration"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import base64\nimport os\nimport requests\n\nengine_id = \"stable-diffusion-v1-5\"\napi_host = os.getenv(\"API_HOST\", \"https://api.stability.ai\")\napi_key = os.getenv(\"STABILITY_API_KEY\")\n\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.post(\n    f\"{api_host}/v1/generation/{engine_id}/image-to-image\",\n    headers={\n        \"Accept\": \"application/json\",\n        \"Authorization\": f\"Bearer {api_key}\"\n    },\n    files={\n        \"init_image\": open(\"../init_image.png\", \"rb\")\n    },\n    data={\n        \"image_strength\": 0.35,\n        \"init_image_mode\": \"IMAGE_STRENGTH\",\n        \"text_prompts[0][text]\": \"Galactic dog with a cape\",\n        \"cfg_scale\": 7,\n        \"clip_guidance_preset\": \"FAST_BLUE\",\n        \"samples\": 1,\n        \"steps\": 30,\n    }\n)\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\ndata = response.json()\n\nfor i, image in enumerate(data[\"artifacts\"]):\n    with open(f\"./out/v1_img2img_{i}.png\", \"wb\") as f:\n        f.write(base64.b64decode(image[\"base64\"]))\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\nimport FormData from 'form-data'\nimport fs from 'node:fs'\n\nconst engineId = 'stable-diffusion-v1-5'\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst apiKey = process.env.STABILITY_API_KEY\n\nif (!apiKey) throw new Error('Missing Stability API key.')\n\n// NOTE: This example is using a NodeJS FormData library.\n// Browsers should use their native FormData class.\n// React Native apps should also use their native FormData class.\nconst formData = new FormData()\nformData.append('init_image', fs.readFileSync('../init_image.png'))\nformData.append('init_image_mode', 'IMAGE_STRENGTH')\nformData.append('image_strength', 0.35)\nformData.append('text_prompts[0][text]', 'Galactic dog wearing a cape')\nformData.append('cfg_scale', 7)\nformData.append('clip_guidance_preset', 'FAST_BLUE')\nformData.append('samples', 1)\nformData.append('steps', 30)\n\nconst response = await fetch(\n  `${apiHost}/v1/generation/${engineId}/image-to-image`,\n  {\n    method: 'POST',\n    headers: {\n      ...formData.getHeaders(),\n      Accept: 'application/json',\n      Authorization: `Bearer ${apiKey}`,\n    },\n    body: formData,\n  }\n)\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface GenerationResponse {\n  artifacts: Array<{\n    base64: string\n    seed: number\n    finishReason: string\n  }>\n}\n\nconst responseJSON = (await response.json()) as GenerationResponse\n\nresponseJSON.artifacts.forEach((image, index) => {\n  fs.writeFileSync(\n    `out/v1_img2img_${index}.png`,\n    Buffer.from(image.base64, 'base64')\n  )\n})\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io\"\n\t\"mime/multipart\"\n\t\"net/http\"\n\t\"os\"\n)\n\ntype ImageToImageImage struct {\n\tBase64       string `json:\"base64\"`\n\tSeed         uint32 `json:\"seed\"`\n\tFinishReason string `json:\"finishReason\"`\n}\n\ntype ImageToImageResponse struct {\n\tImages []ImageToImageImage `json:\"artifacts\"`\n}\n\nfunc main() {\n\tengineId := \"stable-diffusion-v1-5\"\n\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/generation/\" + engineId + \"/image-to-image\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\tdata := &bytes.Buffer{}\n\twriter := multipart.NewWriter(data)\n\n\t// Write the init image to the request\n\tinitImageWriter, _ := writer.CreateFormField(\"init_image\")\n\tinitImageFile, initImageErr := os.Open(\"../init_image.png\")\n\tif initImageErr != nil {\n\t\tpanic(\"Could not open init_image.png\")\n\t}\n\t_, _ = io.Copy(initImageWriter, initImageFile)\n\n\t// Write the options to the request\n\t_ = writer.WriteField(\"init_image_mode\", \"IMAGE_STRENGTH\")\n\t_ = writer.WriteField(\"image_strength\", \"0.35\")\n\t_ = writer.WriteField(\"text_prompts[0][text]\", \"Galactic dog with a cape\")\n\t_ = writer.WriteField(\"cfg_scale\", \"7\")\n\t_ = writer.WriteField(\"clip_guidance_preset\", \"FAST_BLUE\")\n\t_ = writer.WriteField(\"samples\", \"1\")\n\t_ = writer.WriteField(\"steps\", \"30\")\n\twriter.Close()\n\n\t// Execute the request\n\tpayload := bytes.NewReader(data.Bytes())\n\treq, _ := http.NewRequest(\"POST\", reqUrl, payload)\n\treq.Header.Add(\"Content-Type\", writer.FormDataContentType())\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\n\tif res.StatusCode != 200 {\n\t\tvar body map[string]interface{}\n\t\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t\tpanic(fmt.Sprintf(\"Non-200 response: %s\", body))\n\t}\n\n\t// Decode the JSON body\n\tvar body ImageToImageResponse\n\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\tpanic(err)\n\t}\n\n\t// Write the images to disk\n\tfor i, image := range body.Images {\n\t\toutFile := fmt.Sprintf(\"./out/v1_img2img_%d.png\", i)\n\t\tfile, err := os.Create(outFile)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\timageBytes, err := base64.StdEncoding.DecodeString(image.Base64)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif _, err := file.Write(imageBytes); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif err := file.Close(); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t}\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\nOUTPUT_FILE=./out/v1_img2img.png\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/generation/stable-diffusion-v1-5/image-to-image\"\n\ncurl -f -sS -X POST \"$URL\" \\\n  -H 'Content-Type: multipart/form-data' \\\n  -H 'Accept: image/png' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\" \\\n  -F 'init_image=@\"../init_image.png\"' \\\n  -F 'init_image_mode=IMAGE_STRENGTH' \\\n  -F 'image_strength=0.35' \\\n  -F 'text_prompts[0][text]=A galactic dog in space' \\\n  -F 'cfg_scale=7' \\\n  -F 'clip_guidance_preset=FAST_BLUE' \\\n  -F 'samples=1' \\\n  -F 'steps=30' \\\n  -o \"$OUTPUT_FILE\"\n"
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image/upscale": {
      "post": {
        "description": "Create a higher resolution version of an input image.\n\nThis operation outputs an image with a maximum pixel count of **4,194,304**. This is equivalent to dimensions such as `2048x2048` and `4096x1024`.\n\nBy default, the input image will be upscaled by a factor of 2.  For additional control over the output dimensions, a `width` or `height` parameter may be specified.\n",
        "operationId": "upscaleImage",
        "summary": "image-to-image/upscale",
        "tags": [
          "v1/generation"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/upscaleEngineID"
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpscaleImageRequestBody"
              },
              "examples": {
                "DEFAULT": {
                  "description": "Upscale input image by 2x",
                  "value": {
                    "image": "<image binary>"
                  }
                },
                "DESIRED_WIDTH": {
                  "description": "Upscale input image to desired width",
                  "value": {
                    "image": "<image binary>",
                    "width": 1024
                  }
                },
                "DESIRED_HEIGHT": {
                  "description": "Upscale input image to desired height",
                  "value": {
                    "image": "<image binary>",
                    "height": 1024
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The result of the generation request, containing one or more images as base64 encoded strings.",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  },
                  "type": "array"
                }
              },
              "image/png": {
                "example": "PNG bytes, what did you expect?",
                "schema": {
                  "description": "The bytes of the generated image",
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Finish-Reason": {
                "$ref": "#/components/headers/Finish-Reason"
              },
              "Seed": {
                "$ref": "#/components/headers/Seed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400FromUpscale"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import os\nimport requests\n\nengine_id = \"esrgan-v1-x2plus\"\napi_host = os.getenv(\"API_HOST\", \"https://api.stability.ai\")\napi_key = os.getenv(\"STABILITY_API_KEY\")\n\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.post(\n    f\"{api_host}/v1/generation/{engine_id}/image-to-image/upscale\",\n    headers={\n        \"Accept\": \"image/png\",\n        \"Authorization\": f\"Bearer {api_key}\"\n    },\n    files={\n        \"image\": open(\"../init_image.png\", \"rb\")\n    },\n    data={\n        \"width\": 1024,\n    }\n)\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\nwith open(f\"./out/v1_upscaled_image.png\", \"wb\") as f:\n    f.write(response.content)\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\nimport FormData from 'form-data'\nimport fs from 'node:fs'\n\nconst engineId = 'esrgan-v1-x2plus'\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst apiKey = process.env.STABILITY_API_KEY\n\nif (!apiKey) throw new Error('Missing Stability API key.')\n\n// NOTE: This example is using a NodeJS FormData library.\n// Browsers should use their native FormData class.\n// React Native apps should also use their native FormData class.\nconst formData = new FormData()\nformData.append('image', fs.readFileSync('../init_image.png'))\nformData.append('width', 1024)\n\nconst response = await fetch(\n  `${apiHost}/v1/generation/${engineId}/image-to-image/upscale`,\n  {\n    method: 'POST',\n    headers: {\n      ...formData.getHeaders(),\n      Accept: 'image/png',\n      Authorization: `Bearer ${apiKey}`,\n    },\n    body: formData,\n  }\n)\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\nconst image = await response.arrayBuffer()\nfs.writeFileSync('./out/v1_upscaled_image.png', Buffer.from(image))\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io\"\n\t\"mime/multipart\"\n\t\"net/http\"\n\t\"os\"\n)\n\nfunc main() {\n\tengineId := \"esrgan-v1-x2plus\"\n\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/generation/\" + engineId + \"/image-to-image/upscale\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\tdata := &bytes.Buffer{}\n\twriter := multipart.NewWriter(data)\n\n\t// Write the init image to the request\n\tinitImageWriter, _ := writer.CreateFormField(\"image\")\n\tinitImageFile, initImageErr := os.Open(\"../init_image.png\")\n\tif initImageErr != nil {\n\t\tpanic(\"Could not open init_image.png\")\n\t}\n\t_, _ = io.Copy(initImageWriter, initImageFile)\n\n\t// Write the options to the request\n\t_ = writer.WriteField(\"width\", \"1024\")\n\twriter.Close()\n\n\t// Execute the request\n\tpayload := bytes.NewReader(data.Bytes())\n\treq, _ := http.NewRequest(\"POST\", reqUrl, payload)\n\treq.Header.Add(\"Content-Type\", writer.FormDataContentType())\n\treq.Header.Add(\"Accept\", \"image/png\")\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\n\tif res.StatusCode != 200 {\n\t\tvar body map[string]interface{}\n\t\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t\tpanic(fmt.Sprintf(\"Non-200 response: %s\", body))\n\t}\n\n\t// Write the response to a file\n\tout, err := os.Create(\"./out/v1_upscaled_image.png\")\n\tdefer out.Close()\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\t_, err = io.Copy(out, res.Body)\n\tif err != nil {\n\t\tpanic(err)\n\t}\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\nOUTPUT_FILE=./out/v1_upscaled_image.png\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/generation/esrgan-v1-x2plus/image-to-image/upscale\"\n\ncurl -f -sS -X POST \"$URL\" \\\n  -H 'Content-Type: multipart/form-data' \\\n  -H 'Accept: image/png' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\" \\\n  -F 'image=@\"../init_image.png\"' \\\n  -F 'width=1024' \\\n  -o \"$OUTPUT_FILE\"\n"
          }
        ]
      }
    },
    "/v1/generation/{engine_id}/image-to-image/masking": {
      "post": {
        "description": "Selectively modify portions of an image using a mask",
        "operationId": "masking",
        "summary": "image-to-image/masking",
        "tags": [
          "v1/generation"
        ],
        "parameters": [
          {
            "example": "stable-inpainting-512-v2-0",
            "in": "path",
            "name": "engine_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MaskingRequestBody"
              },
              "examples": {
                "MASK_IMAGE_BLACK": {
                  "value": {
                    "mask_source": "MASK_IMAGE_BLACK",
                    "init_image": "<image binary>",
                    "mask_image": "<image binary>",
                    "text_prompts[0][text]": "A dog space commander",
                    "text_prompts[0][weight]": 1,
                    "cfg_scale": 7,
                    "clip_guidance_preset": "FAST_BLUE",
                    "sampler": "K_DPM_2_ANCESTRAL",
                    "samples": 3,
                    "steps": 20
                  }
                },
                "MASK_IMAGE_WHITE": {
                  "value": {
                    "mask_source": "MASK_IMAGE_WHITE",
                    "init_image": "<image binary>",
                    "mask_image": "<image binary>",
                    "text_prompts[0][text]": "A dog space commander",
                    "text_prompts[0][weight]": 1,
                    "cfg_scale": 7,
                    "clip_guidance_preset": "FAST_BLUE",
                    "sampler": "K_DPM_2_ANCESTRAL",
                    "samples": 3,
                    "steps": 20
                  }
                },
                "INIT_IMAGE_ALPHA": {
                  "value": {
                    "mask_source": "INIT_IMAGE_ALPHA",
                    "init_image": "<image binary>",
                    "text_prompts[0][text]": "A dog space commander",
                    "text_prompts[0][weight]": 1,
                    "cfg_scale": 7,
                    "clip_guidance_preset": "FAST_BLUE",
                    "sampler": "K_DPM_2_ANCESTRAL",
                    "samples": 3,
                    "steps": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The result of the generation request, containing one or more images as base64 encoded strings.",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  },
                  "type": "array"
                }
              },
              "image/png": {
                "example": "PNG bytes, what did you expect?",
                "schema": {
                  "description": "The bytes of the generated image",
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Finish-Reason": {
                "$ref": "#/components/headers/Finish-Reason"
              },
              "Seed": {
                "$ref": "#/components/headers/Seed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400FromGeneration"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import base64\nimport os\nimport requests\n\nengine_id = \"stable-inpainting-512-v2-0\"\napi_host = os.getenv('API_HOST', 'https://api.stability.ai')\napi_key = os.getenv(\"STABILITY_API_KEY\")\n\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.post(\n    f\"{api_host}/v1/generation/{engine_id}/image-to-image/masking\",\n    headers={\n        \"Accept\": 'application/json',\n        \"Authorization\": f\"Bearer {api_key}\"\n    },\n    files={\n        'init_image': open(\"../init_image.png\", 'rb'),\n        'mask_image': open(\"../mask_image_white.png\", 'rb'),\n    },\n    data={\n        \"mask_source\": \"MASK_IMAGE_WHITE\",\n        \"text_prompts[0][text]\": \"A large spiral galaxy with a bright central bulge and a ring of stars around it\",\n        \"cfg_scale\": 7,\n        \"clip_guidance_preset\": \"FAST_BLUE\",\n        \"samples\": 1,\n        \"steps\": 30,\n    }\n)\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\ndata = response.json()\n\nfor i, image in enumerate(data[\"artifacts\"]):\n    with open(f\"./out/v1_img2img_masking_{i}.png\", \"wb\") as f:\n        f.write(base64.b64decode(image[\"base64\"]))\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\nimport FormData from 'form-data'\nimport fs from 'node:fs'\n\nconst engineId = 'stable-inpainting-512-v2-0'\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst apiKey = process.env.STABILITY_API_KEY\n\nif (!apiKey) throw new Error('Missing Stability API key.')\n\n// NOTE: This example is using a NodeJS FormData library. Browser\n// implementations should use their native FormData class. React Native\n// implementations should also use their native FormData class.\nconst formData = new FormData()\nformData.append('init_image', fs.readFileSync('../init_image.png'))\nformData.append('mask_image', fs.readFileSync('../mask_image_white.png'))\nformData.append('mask_source', 'MASK_IMAGE_WHITE')\nformData.append(\n  'text_prompts[0][text]',\n  'A large spiral galaxy with a bright central bulge and a ring of stars around it'\n)\nformData.append('cfg_scale', '7')\nformData.append('clip_guidance_preset', 'FAST_BLUE')\nformData.append('samples', 1)\nformData.append('steps', 30)\n\nconst response = await fetch(\n  `${apiHost}/v1/generation/${engineId}/image-to-image/masking`,\n  {\n    method: 'POST',\n    headers: {\n      ...formData.getHeaders(),\n      Accept: 'application/json',\n      Authorization: `Bearer ${apiKey}`,\n    },\n    body: formData,\n  }\n)\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface GenerationResponse {\n  artifacts: Array<{\n    base64: string\n    seed: number\n    finishReason: string\n  }>\n}\n\nconst responseJSON = (await response.json()) as GenerationResponse\n\nresponseJSON.artifacts.forEach((image, index) => {\n  fs.writeFileSync(\n    `out/v1_img2img_masking_${index}.png`,\n    Buffer.from(image.base64, 'base64')\n  )\n})\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io\"\n\t\"mime/multipart\"\n\t\"net/http\"\n\t\"os\"\n)\n\ntype MaskingImage struct {\n\tBase64       string `json:\"base64\"`\n\tSeed         uint32 `json:\"seed\"`\n\tFinishReason string `json:\"finishReason\"`\n}\n\ntype MaskingResponse struct {\n\tImages []MaskingImage `json:\"artifacts\"`\n}\n\nfunc main() {\n\tengineId := \"stable-inpainting-512-v2-0\"\n\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/generation/\" + engineId + \"/image-to-image/masking\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\tdata := &bytes.Buffer{}\n\twriter := multipart.NewWriter(data)\n\n\t// Write the init image to the request\n\tinitImageWriter, _ := writer.CreateFormField(\"init_image\")\n\tinitImageFile, initImageErr := os.Open(\"../init_image.png\")\n\tif initImageErr != nil {\n\t\tpanic(\"Could not open init_image.png\")\n\t}\n\t_, _ = io.Copy(initImageWriter, initImageFile)\n\n\t// Write the mask image to the request\n\tmaskImageWriter, _ := writer.CreateFormField(\"mask_image\")\n\tmaskImageFile, maskImageErr := os.Open(\"../mask_image_white.png\")\n\tif maskImageErr != nil {\n\t\tpanic(\"Could not open mask_image_white.png\")\n\t}\n\t_, _ = io.Copy(maskImageWriter, maskImageFile)\n\n\t// Write the options to the request\n\t_ = writer.WriteField(\"mask_source\", \"MASK_IMAGE_WHITE\")\n\t_ = writer.WriteField(\"text_prompts[0][text]\", \"A large spiral galaxy with a bright central bulge and a ring of stars around it\")\n\t_ = writer.WriteField(\"cfg_scale\", \"7\")\n\t_ = writer.WriteField(\"clip_guidance_preset\", \"FAST_BLUE\")\n\t_ = writer.WriteField(\"samples\", \"1\")\n\t_ = writer.WriteField(\"steps\", \"30\")\n\twriter.Close()\n\n\t// Execute the request & read all the bytes of the response\n\tpayload := bytes.NewReader(data.Bytes())\n\treq, _ := http.NewRequest(\"POST\", reqUrl, payload)\n\treq.Header.Add(\"Content-Type\", writer.FormDataContentType())\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\n\tif res.StatusCode != 200 {\n\t\tvar body map[string]interface{}\n\t\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t\tpanic(fmt.Sprintf(\"Non-200 response: %s\", body))\n\t}\n\n\t// Decode the JSON body\n\tvar body MaskingResponse\n\tif err := json.NewDecoder(res.Body).Decode(&body); err != nil {\n\t\tpanic(err)\n\t}\n\n\t// Write the images to disk\n\tfor i, image := range body.Images {\n\t\toutFile := fmt.Sprintf(\"./out/v1_img2img_masking_%d.png\", i)\n\t\tfile, err := os.Create(outFile)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\timageBytes, err := base64.StdEncoding.DecodeString(image.Base64)\n\t\tif err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif _, err := file.Write(imageBytes); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\n\t\tif err := file.Close(); err != nil {\n\t\t\tpanic(err)\n\t\t}\n\t}\n}\n"
          },
          {
            "lang": "cURL",
            "source": "#!/bin/sh\n\nset -e\n\nif [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\nOUTPUT_FILE=./out/v1_img2img_masking.png\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/generation/stable-inpainting-512-v2-0/image-to-image/masking\"\n\ncurl -f -sS -X POST \"$URL\" \\\n  -H 'Content-Type: multipart/form-data' \\\n  -H 'Accept: image/png' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\" \\\n  -F 'init_image=@\"../init_image.png\"' \\\n  -F 'mask_image=@\"../mask_image_white.png\"' \\\n  -F 'mask_source=MASK_IMAGE_WHITE' \\\n  -F 'text_prompts[0][text]=A large spiral galaxy with a bright central bulge and a ring of stars around it' \\\n  -F 'cfg_scale=7' \\\n  -F 'clip_guidance_preset=FAST_BLUE' \\\n  -F 'samples=1' \\\n  -F 'steps=30' \\\n  -o \"$OUTPUT_FILE\"\n"
          }
        ]
      }
    },
    "/v1/engines/list": {
      "get": {
        "description": "List all engines available to your organization/user",
        "operationId": "listEngines",
        "summary": "list",
        "tags": [
          "v1/engines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnginesResponseBody"
                }
              }
            },
            "description": "OK response."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import os\nimport requests\n\napi_host = os.getenv('API_HOST', 'https://api.stability.ai')\nurl = f\"{api_host}/v1/engines/list\"\n\napi_key = os.getenv(\"STABILITY_API_KEY\")\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.get(url, headers={\n    \"Authorization\": f\"Bearer {api_key}\"\n})\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\n# Do something with the payload...\npayload = response.json()\n\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\n\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst url = `${apiHost}/v1/engines/list`\n\nconst apiKey = process.env.STABILITY_API_KEY\nif (!apiKey) throw new Error('Missing Stability API key.')\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n  },\n})\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface Payload {\n  engines: Array<{\n    id: string\n    name: string\n    description: string\n    type: string\n  }>\n}\n\n// Do something with the payload...\nconst payload = (await response.json()) as Payload\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"io\"\n\t\"net/http\"\n\t\"os\"\n)\n\nfunc main() {\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/engines/list\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\t// Execute the request & read all the bytes of the response\n\treq, _ := http.NewRequest(\"GET\", reqUrl, nil)\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tif res.StatusCode != 200 {\n\t\tpanic(\"Non-200 response: \" + string(body))\n\t}\n\n\t// Do something with the payload...\n\t// payload := string(body)\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/engines/list\"\n\ncurl -f -sS \"$URL\" \\\n  -H 'Accept: application/json' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\"\n"
          }
        ]
      }
    },
    "/v1/user/account": {
      "get": {
        "description": "Get information about the account associated with the provided API key",
        "operationId": "userAccount",
        "summary": "account",
        "tags": [
          "v1/user"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponseBody"
                }
              }
            },
            "description": "OK response."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import os\nimport requests\n\napi_host = os.getenv('API_HOST', 'https://api.stability.ai')\nurl = f\"{api_host}/v1/user/account\"\n\napi_key = os.getenv(\"STABILITY_API_KEY\")\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.get(url, headers={\n    \"Authorization\": f\"Bearer {api_key}\"\n})\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\n# Do something with the payload...\npayload = response.json()\n\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\n\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst url = `${apiHost}/v1/user/account`\n\nconst apiKey = process.env.STABILITY_API_KEY\nif (!apiKey) throw new Error('Missing Stability API key.')\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n  },\n})\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface User {\n  id: string\n  profile_picture: string\n  email: string\n  organizations?: Array<{\n    id: string\n    name: string\n    role: string\n    is_default: boolean\n  }>\n}\n\n// Do something with the user...\nconst user = (await response.json()) as User\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"io\"\n\t\"net/http\"\n\t\"os\"\n)\n\nfunc main() {\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/user/account\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\t// Build the request\n\treq, _ := http.NewRequest(\"GET\", reqUrl, nil)\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\n\t// Execute the request\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tif res.StatusCode != 200 {\n\t\tpanic(\"Non-200 response: \" + string(body))\n\t}\n\n\t// Do something with the payload...\n\t// payload := string(body)\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\n# Determine the URL to use for the request\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/user/account\"\n\ncurl -f -sS \"$URL\" \\\n  -H 'Accept: application/json' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\"\n"
          }
        ]
      }
    },
    "/v1/user/balance": {
      "get": {
        "description": "Get the credit balance of the account/organization associated with the API key",
        "operationId": "userBalance",
        "summary": "balance",
        "tags": [
          "v1/user"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/organization"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "credits": 0.6336833840314097
                },
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseBody"
                }
              }
            },
            "description": "OK response."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "STABILITY_API_KEY": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import os\nimport requests\n\napi_host = os.getenv('API_HOST', 'https://api.stability.ai')\nurl = f\"{api_host}/v1/user/balance\"\n\napi_key = os.getenv(\"STABILITY_API_KEY\")\nif api_key is None:\n    raise Exception(\"Missing Stability API key.\")\n\nresponse = requests.get(url, headers={\n    \"Authorization\": f\"Bearer {api_key}\"\n})\n\nif response.status_code != 200:\n    raise Exception(\"Non-200 response: \" + str(response.text))\n\n# Do something with the payload...\npayload = response.json()\n\n"
          },
          {
            "label": "TypeScript",
            "lang": "Javascript",
            "source": "import fetch from 'node-fetch'\n\nconst apiHost = process.env.API_HOST ?? 'https://api.stability.ai'\nconst url = `${apiHost}/v1/user/balance`\n\nconst apiKey = process.env.STABILITY_API_KEY\nif (!apiKey) throw new Error('Missing Stability API key.')\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n  },\n})\n\nif (!response.ok) {\n  throw new Error(`Non-200 response: ${await response.text()}`)\n}\n\ninterface Balance {\n  credits: number\n}\n\n// Do something with the balance...\nconst balance = (await response.json()) as Balance\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"io\"\n\t\"net/http\"\n\t\"os\"\n)\n\nfunc main() {\n\t// Build REST endpoint URL\n\tapiHost, hasApiHost := os.LookupEnv(\"API_HOST\")\n\tif !hasApiHost {\n\t\tapiHost = \"https://api.stability.ai\"\n\t}\n\treqUrl := apiHost + \"/v1/user/balance\"\n\n\t// Acquire an API key from the environment\n\tapiKey, hasAPIKey := os.LookupEnv(\"STABILITY_API_KEY\")\n\tif !hasAPIKey {\n\t\tpanic(\"Missing STABILITY_API_KEY environment variable\")\n\t}\n\n\t// Build the request\n\treq, _ := http.NewRequest(\"GET\", reqUrl, nil)\n\treq.Header.Add(\"Authorization\", \"Bearer \"+apiKey)\n\n\t// Execute the request\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tif res.StatusCode != 200 {\n\t\tpanic(\"Non-200 response: \" + string(body))\n\t}\n\n\t// Do something with the payload...\n\t// payload := string(body)\n}\n"
          },
          {
            "lang": "cURL",
            "source": "if [ -z \"$STABILITY_API_KEY\" ]; then\n    echo \"STABILITY_API_KEY environment variable is not set\"\n    exit 1\nfi\n\n# Determine the URL to use for the request\nBASE_URL=${API_HOST:-https://api.stability.ai}\nURL=\"$BASE_URL/v1/user/balance\"\n\ncurl -f -sS \"$URL\" \\\n  -H 'Content-Type: application/json' \\\n  -H \"Authorization: Bearer $STABILITY_API_KEY\"\n"
          }
        ]
      }
    },
    "/v2alpha/generation/stable-image/upscale": {
      "post": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/upscale",
        "description": "Takes images between 64x64 and 1 megapixel and upscales them all the way to **4K** resolution.  Put more\ngenerally, it can upscale images ~20-40x times while preserving, and often enhancing, quality.\n\n### How to use\n  - Invoke this endpoint with the required parameters to start a generation\n  - Use that `id` in the response to poll for results at the [upscale/result/{id}](#tag/v2alphageneration/paths/~1v2alpha~1generation~1stable-image~1upscale~1result~1%7Bid%7D/get) endpoint\n    - Rate-limiting or other errors may occur if you poll more than once every 10 seconds\n\n### Price\nFlat rate of 25 cents per generation.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/upscale\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\"\n    },\n    files={\n        \"image\": open(\"./kitten-in-space.png\", \"rb\")\n    },\n    data={\n        \"prompt\": \"cute fluffy white kitten floating in space, pastel colors\",\n        \"output_format\": \"webp\",\n    },\n)\n\nprint(\"Generation ID:\", response.json().get('id'))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import fs from \"node:fs\";\nimport axios from \"axios\";\nimport FormData from \"form-data\";\n\nconst formData = {\n  image: fs.createReadStream(\"./kitten-in-space.png\"),\n  prompt: \"cute fluffy white kitten floating in space, pastel colors\",\n  output_format: \"webp\"\n};\n\nconst response = await axios.postForm(\n  `https://api.stability.ai/v2alpha/generation/stable-image/upscale`,\n  axios.toFormData(formData, new FormData()),\n  {\n    validateStatus: undefined,\n    headers: { Authorization: `Bearer sk-MYAPIKEY` },\n  },\n);\n\nconsole.log(\"Generation ID:\", response.data.id);"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2alpha/generation/stable-image/upscale\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -F image=@\"./kitten-in-rainforest.png\" \\\n  -F prompt=\"cute fluffy white kitten sitting in a rainforest, pastel colors\" \\\n  -F output_format=webp \\\n  -o \"./output.json\""
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.",
              "minLength": 1
            },
            "required": true,
            "name": "authorization",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.",
              "example": "multipart/form-data"
            },
            "required": true,
            "name": "content-type",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image you wish to upscale.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 1,048,576 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000,
                    "description": "What you wish to see in the output image. A strong, descriptive prompt that clearly defines\nelements, colors, and subjects will lead to better results.\n\nTo control the weight of a given word use the format `(word:weight)`,\nwhere `word` is the word you'd like to control the weight of and `weight`\nis a value between 0 and 1. For example: `The sky was a crisp (blue:0.3) and (green:0.8)`\nwould convey a sky that was blue and green, but more green than blue."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "A blurb of text describing what you **do not** wish to see in the output image.\nThis is an advanced feature."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png",
                      "webp"
                    ],
                    "default": "png",
                    "description": "Dictates the `content-type` of the generated image."
                  },
                  "seed": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 4294967294,
                    "default": 0,
                    "description": "A specific value that is used to guide the 'randomness' of the generation. (Omit this parameter or pass `0` to use a random seed.)"
                  },
                  "creativity": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 0.5,
                    "default": 0.3,
                    "description": "Indicates how creative the model should be when upscaling an image.\nHigher values will result in more details being added to the image during upscaling."
                  },
                  "style_preset": {
                    "type": "string",
                    "enum": [
                      "enhance",
                      "anime",
                      "photographic",
                      "digital-art",
                      "comic-book",
                      "fantasy-art",
                      "line-art",
                      "analog-film",
                      "neon-punk",
                      "isometric",
                      "low-poly",
                      "origami",
                      "modeling-compound",
                      "cinematic",
                      "3d-model",
                      "pixel-art",
                      "tile-texture"
                    ],
                    "description": "Guides the image model towards a particular style."
                  }
                },
                "required": [
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscaling was successful!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/GenerationID"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter(s), see the `errors` field for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
                      "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
                      "example": "bad_request"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "One or more error messages indicating what went wrong.",
                      "example": [
                        "some-field: is required"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Your request was flagged by our content moderation system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentModerationResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred. If the problem persists [contact support](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
                      "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
                      "example": "bad_request"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "One or more error messages indicating what went wrong.",
                      "example": [
                        "some-field: is required"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "errors"
                  ],
                  "example": {
                    "id": "2a1b2d4eafe2bc6ab4cd4d5c6133f513",
                    "name": "internal_error",
                    "errors": [
                      "An unexpected server error has occurred, please try again later."
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2alpha/generation/stable-image/upscale/result/{id}": {
      "get": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/upscale/result",
        "description": "Fetch the result of an upscale generation by ID. Make sure to use the same API key to fetch the generation result\nthat you used to create the generation, otherwise you will receive a `404` response.\n\n### How is progress reported?\nYour generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`). \nWe may add more fine-grained progress reporting in the future (e.g. a numerical progress).\n\n### How long are results stored?\nResults are stored for 24 hours after generation. After that, the results are deleted.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\ngeneration_id = \"e52772ac75b...\"\n\nresponse = requests.request(\n    \"GET\",\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/{generation_id}\",\n    headers={\n        'Accept': \"image/*\",  # Use 'application/json' to receive base64 encoded JSON\n        'authorization': f\"Bearer sk-MYAPIKEY\"\n    },\n)\n\nif response.status_code == 202:\n    print(\"Generation in-progress, try again in 10 seconds.\")\nelif response.status_code == 200:\n    print(\"Generation complete!\")\n    with open(\"upscaled.webp\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import axios from \"axios\";\nimport fs from \"node:fs\";\n\nconst generationID = \"e52772ac75b...\";\n\nconst response = await axios.request({\n  url: `https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/${generationID}`,\n  method: \"GET\",\n  validateStatus: undefined,\n  responseType: \"arraybuffer\",\n  headers: {\n    accept: \"image/*\", // Use 'application/json' to receive base64 encoded JSON\n    authorization: `Bearer sk-MYAPIKEY`,\n  },\n});\n\nif (response.status === 202) {\n  console.log(\"Generation is still running, try again in 10 seconds.\");\n} else if (response.status === 200) {\n  console.log(\"Generation is complete!\");\n  fs.writeFileSync(\"upscaled.webp\", Buffer.from(response.data));\n} else {\n  throw new Error(`Response ${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "generation_id=\"e52772ac75b...\"\nurl=\"https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/$generation_id\"\nhttp_status=$(curl -sS -f -o \"./upscaled.webp\" -w '%{http_code}' -H \"authorization: sk-MYAPIKEY\" -H 'accept: image/*' \"$url\")\n\ncase $http_status in\n    202)\n        echo \"Still processing. Retrying in 10 seconds...\"\n        ;;\n    200)\n        echo \"Download complete!\"\n        ;;\n    4*|5*)\n        mv \"./upscaled.webp\" \"./error.json\"\n        echo \"Error: Check ./error.json for details.\"\n        exit 1\n        ;;\nesac"
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/GenerationID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.",
              "minLength": 1
            },
            "required": true,
            "name": "authorization",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "default": "image/*",
              "description": "Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
              "enum": [
                "image/*",
                "application/json"
              ]
            },
            "required": false,
            "name": "accept",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "The upscale was successful.",
            "headers": {
              "x-request-id": {
                "description": "A unique identifier for this request.",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
                "examples": {
                  "jpeg": {
                    "description": "raw bytes",
                    "value": "image/jpeg"
                  },
                  "jpegJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/jpeg"
                  },
                  "png": {
                    "description": "raw bytes",
                    "value": "image/png"
                  },
                  "pngJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/png"
                  },
                  "webp": {
                    "description": "raw bytes",
                    "value": "image/webp"
                  },
                  "webpJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/webp"
                  }
                },
                "schema": {
                  "type": "string"
                }
              },
              "finish-reason": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "SUCCESS",
                    "CONTENT_FILTERED"
                  ]
                },
                "description": "Indicates the reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`."
              },
              "seed": {
                "description": "The seed used as random noise for this generation.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.",
                "example": "343940597",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "description": "The bytes of the generated image.\n\nThe `finish-reason` and `seed` will be present as headers.",
                  "format": "binary"
                },
                "example": "The bytes of the generated jpeg"
              },
              "application/json; type=image/jpeg": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "description": "The generated image, encoded to base64.",
                      "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
                    },
                    "seed": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 4294967294,
                      "default": 0,
                      "description": "The seed used as random noise for this generation.",
                      "example": 343940597
                    },
                    "finish_reason": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "CONTENT_FILTERED"
                      ],
                      "description": "The reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.",
                      "example": "SUCCESS"
                    }
                  },
                  "required": [
                    "image",
                    "finish_reason"
                  ]
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "description": "The bytes of the generated image.\n\nThe `finish-reason` and `seed` will be present as headers.",
                  "format": "binary"
                },
                "example": "The bytes of the generated png"
              },
              "application/json; type=image/png": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "description": "The generated image, encoded to base64.",
                      "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
                    },
                    "seed": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 4294967294,
                      "default": 0,
                      "description": "The seed used as random noise for this generation.",
                      "example": 343940597
                    },
                    "finish_reason": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "CONTENT_FILTERED"
                      ],
                      "description": "The reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.",
                      "example": "SUCCESS"
                    }
                  },
                  "required": [
                    "image",
                    "finish_reason"
                  ]
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "description": "The bytes of the generated image.\n\nThe `finish-reason` and `seed` will be present as headers.",
                  "format": "binary"
                },
                "example": "The bytes of the generated webp"
              },
              "application/json; type=image/webp": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "description": "The generated image, encoded to base64.",
                      "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
                    },
                    "seed": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 4294967294,
                      "default": 0,
                      "description": "The seed used as random noise for this generation.",
                      "example": 343940597
                    },
                    "finish_reason": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "CONTENT_FILTERED"
                      ],
                      "description": "The reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.",
                      "example": "SUCCESS"
                    }
                  },
                  "required": [
                    "image",
                    "finish_reason"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Your upscale generation is still in-progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/GenerationID"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in-progress"
                      ],
                      "description": "The status of your generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter(s), see the `errors` field for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
                      "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
                      "example": "bad_request"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "One or more error messages indicating what went wrong.",
                      "example": [
                        "some-field: is required"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "errors"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Your request was flagged by our content moderation system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentModerationResponse"
                }
              }
            }
          },
          "404": {
            "description": "id: the generation either does not exist or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
                      "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
                      "example": "bad_request"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "One or more error messages indicating what went wrong.",
                      "example": [
                        "some-field: is required"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "errors"
                  ],
                  "example": {
                    "id": "2bca35116bc5431d6dc4b4ea2ef3da2f",
                    "name": "generation_not_found",
                    "errors": [
                      "id: the generation either does not exist or has expired."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred. If the problem persists [contact support](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
                      "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
                      "example": "bad_request"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "One or more error messages indicating what went wrong.",
                      "example": [
                        "some-field: is required"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "errors"
                  ],
                  "example": {
                    "id": "2a1b2d4eafe2bc6ab4cd4d5c6133f513",
                    "name": "internal_error",
                    "errors": [
                      "An unexpected server error has occurred, please try again later."
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2alpha/generation/stable-image/inpaint": {
      "post": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/inpaint",
        "description": "Inpaint an existing image, with or without a mask, using our latest-and-greatest inpainting model.\n\n### Search-and-Replace Mode\nThis mode is ideal for individuals of all levels of skill in design. It can be used for straightforward\nadjustments to images. The service will automatically mask the most appropriate object based on the contents\nof the `search_prompt`, and replace it with a generated result based on the `prompt`.\n\n**How to use:** set the `mode` parameter to `search` and provide a short description of what to\nsearch-and-replace in the `search_prompt` parameter.\n\n### Mask Mode\nThis mode allows for precise control of generative fill tasks on an image, down to the level of\nindividual pixels. Design professionals can provide a `mask` for the section of the image to be replaced,\nand use standard image prompting to describe the full image as it should appear after the editing.\nThe resulting image will incorporate all of the elements described in the `prompt`.\n\n**How to use:** set the `mode` parameter to `mask` and either pass in an `image` with an alpha channel\nor provide an explicit mask image to the `mask` parameter. If both are present the `mask` parameter will\ntake precedence.\n\n### Price\n- Requests with `mode` set to `search` cost 4 cents.\n- Requests with `mode` set to `mask` cost 3 cents.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/inpaint\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\"\n    },\n    files={\n        \"image\": open(\"./husky-in-a-field.png\", \"rb\")\n    },\n    data={\n        \"prompt\": \"golden retriever in a field\",\n        \"mode\": \"search\",\n        \"search_prompt\": \"dog\",\n        \"output_format\": \"webp\",\n    },\n)\n\nif response.status_code == 200:\n    with open(\"./golden-retriever-in-a-field.webp\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import fs from \"node:fs\";\nimport axios from \"axios\";\nimport FormData from \"form-data\";\n\nconst formData = {\n  image: fs.createReadStream(\"./husky-in-a-field.png\"),\n  prompt: \"golden retriever standing in a field\",\n  mode: \"search\",\n  search_prompt: \"dog\",\n  output_format: \"webp\"\n};\n\nconst response = await axios.postForm(\n  `https://api.stability.ai/v2alpha/generation/stable-image/inpaint`,\n  axios.toFormData(formData, new FormData()),\n  {\n    validateStatus: undefined,\n    responseType: \"arraybuffer\",\n    headers: { Authorization: `Bearer sk-MYAPIKEY`, accept: \"image/*\" },\n  },\n);\n\nif(response.status === 200) {\n  fs.writeFileSync(\"./golden-retriever-in-a-field.webp\", Buffer.from(response.data));\n} else {\n  throw new Error(`${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2alpha/generation/stable-image/inpaint\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -H \"accept: image/*\" \\\n  -F image=@\"./husky-in-a-field.png\" \\\n  -F prompt=\"golden retriever in a field\" \\\n  -F mode=\"search\" \\\n  -F search_prompt=\"dog\" \\\n  -F output_format=\"webp\" \\\n  -o \"./golden-retriever-in-a-field.webp\""
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.",
              "minLength": 1
            },
            "required": true,
            "name": "authorization",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.",
              "example": "multipart/form-data"
            },
            "required": true,
            "name": "content-type",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "default": "image/*",
              "description": "Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
              "enum": [
                "image/*",
                "application/json"
              ]
            },
            "required": false,
            "name": "accept",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InpaintingSearchModeRequestBody"
                  },
                  {
                    "$ref": "#/components/schemas/InpaintingMaskingModeRequestBody"
                  }
                ],
                "discriminator": {
                  "propertyName": "mode",
                  "mapping": {
                    "search": "#/components/schemas/InpaintingSearchModeRequestBody",
                    "mask": "#/components/schemas/InpaintingMaskingModeRequestBody"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inpainting was successful.",
            "headers": {
              "x-request-id": {
                "description": "A unique identifier for this request.",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
[...]
